* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}


/** navbar **/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding: 30px 0;
    margin: auto;
}

.nav-bar .logo img {
    width: 135px;
    height: 82px;
}

.nav-bar .nav-links {
    display: flex;
    gap: 48px;
}

.nav-bar .nav-links a {
    text-decoration: none;
    color: #8987A1;
}

.nav-bar .nav-links a:first-child {
    color: #252432;
    font-weight: 500;
}

.nav-bar .nav-links a:last-child {
    color: #000000;
} 


/** hero section **/
.hero-section {
    max-width: 1140px;
    height: 456px;
    display: flex;
    margin: 120px auto 0;
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 65px;
    font-weight: 700;
    padding-top: 170px;
    color: #E95A08;
}

.hero-left h1 span {
    color: #000000;
}

.hero-left p {
    font-size: 22px;
    padding-top: 20px;
}

.hero-right {
    padding-top: 100px;
}



/** plant section **/
.plant-section {
    margin: 120px auto 0;
    width: 1140px;
    height: auto;
}

.plant-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.plant-section h2 span {
    color: #E95A08;
}

.plant-section > p {
    font-size: 22px;
    padding: 16px 138px 49px;
    text-align: center;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
}

.all-products .product-card {
    width: 270px;
    height: auto;
}

.product-card img {
    width: 100%;
    height: 322px;
}

.product-details p {
    text-align: center;
    font-size: 22px;
    margin: 30px 0 20px;
}

.product-details h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.product-details button {
    width: 100%;
    padding: 18px 0;
    margin-top: 30px;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.product-details button:hover {
    background-color: #f17019fd;
}


/** plant-lover-section **/
.plant-lover-section {
    width: 1140px;
    height: 597px;
    margin: 210px auto 0;
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
}

.plant-lover-bg-image {
    background-image: url(./assets/flower-store.png);
    background-size: cover;
    background-position: center;
    width: 540px;
    height: 100%;
}

.title-list {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-list h2 {
    font-size: 56px;
    font-weight: 700;
}

.title-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.title-list ul li {
    font-size: 22px;
}

.plant-lover-section .trusted-badge img {
    width: 286px;
    height: 286px;
    position: absolute;
    left: 347px;
    bottom: 438px;
}


/** join section **/
.deal-section {
    width: 1140px;
    height: auto;
    margin: 133px auto 0;
}

.deal-section h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.deal-section h2 span {
    color: #E95A08;
}

.deal-section p {
    font-size: 22px;
    padding: 16px 173px 49px;
    text-align: center;
}

.discount-part {
    display: flex;
    column-gap: 28px;
    margin-bottom: 120px;
}

.left-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-part .item1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    border-radius: 14px;
}

.left-part .item2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./assets/deal-ana.png);
    width: 367px;
    height: 201px;
    border-radius: 14px;
}

.right-part .item3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(./assets/deal-zabo.png);
    width: 753px;
    height: 423px;
    border-radius: 14px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item span {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.item a {
    color: #ffffff;
    text-underline-offset: 4px;
    margin-top: 19px;
}

.item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item3 span {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.item3 a {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-underline-offset: 8px;
}